
#body {
  font-family: sans-serif;
  background: rgb(20,20,20);
  margin: 0;
  height:100vh;
  overflow:hidden;
}

#main{
  position: relative;
  height: 95%;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

img {
  display: none;
  width: 30vmin;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s ease-in-out;
  animation: dip 0.5s ease-in-out;
}

@keyframes dip{
  from {
    opacity: 0;
  }
  to{
    opacity:1;
  }
}
img[data-status="inactive"] {
  display: none;
  animation: mmm 0.5s ease-out;
}

@keyframes mmm {
  from{
    opacity: 1;
  }
  
  to{
    opacity: 0;
  }
}
img[data-status="active"] {
  display: block;
  transition: 1s ease-in-out;
}



#link{
  cursor:pointer;
}
.footer{
  margin:0;
  padding:0;
  position:fixed;
  left:0%;
  bottom: 0%;
  color: black;
  width: 100%;
  height:5%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
#end{
  all:unset;
  position: fixed;
  right:5%;
  top:5%;
  background: rgba(20,20,20,0.5);
  padding:5px 9px;
  border-radius: 500px;
  color: white;
  transform: scale(1.5);
  z-index: 1000;
  transition: 0.5s cubic-bezier(.17,.67,.83,.67);
  display: none;
}

#title-container{
  margin: 0 auto;
  text-align: center;
}
#next{
  right:5%;
}
#previous{
  left:5%;

}
.next-previous{
  all:unset;
  position: fixed;
  top: 50%;
  color: white;
  display: none;
  cursor: pointer;
}

#end:hover{
  cursor: pointer;
  background: white;
  color: black;
}


#detail-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:100%;
  height:fit-content;
  top:0%;
  left:0%;
}

#detail{
  height: fit-content;
  width: 65%;
  background-color: rgb(250,250,250);
  justify-content: center;
  box-sizing: border-box;
  padding: 5% 8%;
  margin: 0 auto;
  z-index: -100;
  flex-direction: column;
  display: flex;
}


#description{
  all:unset;
  align-self: center;
  width:80%;
  height: auto;
  display: block;
  filter:unset;


}
